<p>
  <strong>Sold:</strong>
  <%= @status.sold %>
</p>

<p>
  <strong>Date sold:</strong>
  <%= @status.date_sold %>
</p>

<p>
  <strong>Date listed:</strong>
  <%= @status.date_listed %>
</p>

<p>
  <strong>View count:</strong>
  <%= @status.view_count %>
</p>

<p>
  <strong>User:</strong>
  <%= @status.user %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
