<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shopping_cart.user %>
</p>

<p>
  <strong>Racquet:</strong>
  <%= @shopping_cart.racquet %>
</p>

<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>
