<h1>Favourites</h1>
<br>
<% if @favourites.count == 0 %>
  <p>You have no favourites yet.</p>
<% else %>
      <% @favourites.each do |favourite| %>

      <div class="favourites-card">
        <div class="image">
          <%= image_tag(favourite.racquet.picture, class: "favourites-image") if favourite.racquet.picture.attached? %>
        </div>

        <div class="body">
          <div class="title">
            <h1><%= favourite.racquet.title %></h1>
          </div>
          <div class="info">
            <span>$<%= favourite.racquet.price %></span>
            <span><%= favourite.racquet.brand %></span>
            <span><%= favourite.racquet.description %></span>
          </div>
        </div>

        <div class="links">
          <% if favourite.racquet.status.sold == true %>
            <span class="sold"> SOLD </span>
          <% else %>
            <span> Available for purchase. </span>
          <% end %>
          <span><%= link_to 'Show', racquet_path(favourite.racquet.id) %></span>
          <span><%= link_to 'Delete from favourites', favourite, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>

      </div>
      <% end %>
  <br>
<% end %>