<%= form_with(model: racquet, local: true) do |form| %>
  <% if racquet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(racquet.errors.count, "error") %> prohibited this racquet from being saved:</h2>

      <ul>
      <% racquet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field(:seller_user_id, :value => current_user.id) %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%# add photos %>

  <div class="field">
    <%= form.label :head_size %>
    <%= form.text_field :head_size %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.text_field :length %>
  </div>

  <div class="field">
    <%= form.label :strung_weight %>
    <%= form.text_field :strung_weight %>
  </div>

  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance %>
  </div>

  <div class="field">
    <%= form.label :stiffness %>
    <%= form.text_field :stiffness %>
  </div>

  <div class="field">
    <%= form.label :string_pattern %>
    <%= form.text_field :string_pattern %>
  </div>

  <div class="field">
    <%#= form.label :brand %>
    <%#= form.number_field :brand %>

      <%= form.label :brand %>
      <%= form.select :brand, options_for_select(Racquet.brands.keys.collect { |u| [u] }) %>

     <%#= form.label :brand %>
        <%# Racquet.brands.keys.each do |brand| %> 
          <%#= form.label brand %>
          <%#= form.radio_button :brand, brand %>

          <%# if brand == racquet.brand %>
              <%# form.radio_button :brand, :checked => true %>
          <%# end %>
      <%# end %>
  </div>

  <div class="field">
    <%#= form.label :type %>
    <%#= form.number_field :type %>

        <%= form.label :racquet_type %>
        <% Racquet.racquet_types.keys.each do |type| %> 
          <%= form.label type %>
          <%= form.radio_button :racquet_type, type %>

          <% if type == racquet.racquet_type %>
              <% form.radio_button :racquet_type, :checked => true %>
          <% end %>
      <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
