<div class="brand-selection">
  <div class="brand">
    <div class="image">
    </div>
    <span><%= link_to('Wilson', wilson_path)%></span>
  </div>

  <div class="brand">
      <div class="image">
      </div>
      <span><%= link_to('Head', head_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
    </div>
    <span><%= link_to('Yonex', yonex_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
    </div>
    <span><%= link_to('Babolat', babolat_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
    </div>
    <span><%= link_to('Dunlop', dunlop_path)%></span>
  </div>

   <div class="brand">
    <div class="image">
    </div>
    <span><%= link_to('Gamma', gamma_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
    </div>
    <span><%= link_to('Prince', prince_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
    </div>
    <span><%= link_to('Prokennex', prokennex_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
    </div>
    <span><%= link_to('Technifibre', technifibre_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
    </div>
    <span><%= link_to('Volkl', volkl_path)%></span>
  </div>

</div>

<%= render 'racquet_display', favourite: @favourite %>