<div class="brand-selection">
  <div class="brand">
    <div class="image">
      <%= image_tag "brands/wilson-logo.png" %>
    </div>
    <span><%= link_to('Wilson', wilson_path)%></span>
  </div>

  <div class="brand">
      <div class="image">
        <%= image_tag "brands/head-logo.png", class: "head" %>
      </div>
      <span><%= link_to('Head', head_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
    <%= image_tag "brands/yonex-logo.png", class: "yonex" %>
  </div>
    <span><%= link_to('Yonex', yonex_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
        <%= image_tag "brands/babolat-logo.png", class: "babolat" %>
    </div>
    <span><%= link_to('Babolat', babolat_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
      <%= image_tag "brands/dunlop-logo.png", class: "dunlop" %>
    </div>
    <span><%= link_to('Dunlop', dunlop_path)%></span>
  </div>

   <div class="brand">
    <div class="image">
      <%= image_tag "brands/gamma-logo.png", class: "gamma" %>
    </div>
    <span><%= link_to('Gamma', gamma_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
      <%= image_tag "brands/prince-logo.png", class: "prince" %>
    </div>
    <span><%= link_to('Prince', prince_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
           <%= image_tag "brands/prokennex-logo.png", class: "prokennex" %>
    </div>
    <span><%= link_to('Prokennex', prokennex_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
      <%= image_tag "brands/technifibre-logo.png", class: "technifibre" %>
    </div>
    <span><%= link_to('Technifibre', technifibre_path)%></span>
  </div>

  <div class="brand">
    <div class="image">
     <%= image_tag "brands/volkl-logo.png", class: "volkl" %>
    </div>
    <span><%= link_to('Volkl', volkl_path)%></span>
  </div>

</div>

<%= render 'racquet_display', favourite: @favourite %>