<div class="racquet-show-content">

  <div class="racquet-picture">
      <%= image_tag(@racquet.picture, class: "show-image") if @racquet.picture.attached? %>
  </div>

  <div class="racquet-info">
    <div class="racquet-title">
      <h1><%= @racquet.title %></h1>
      <% if user_signed_in? %>

        <%= form_with(model: @favourite, local: true, url: favourites_path) do |form| %>
          <div class="field">
            <%# this needs to default to the logged in users id! %>
            <%= form.hidden_field(:user_id, :value => current_user.id) %>
          </div>

          <div class="field">
            <%# this needs to default to the logged in users id! %>
            <%= form.hidden_field(:racquet_id, :value => @racquet.id) %>
          </div>

          <div class="actions">
            <%= form.submit "Favourite" %>
          </div>
        <% end %>

      <% end %>
    </div>
    <div class="more-info">
      <div class="head-info">
        <div class="head-info-line1">
        <% if @racquet.status.sold == true %>
          <span class="sold-show-page">Sold on <%= @racquet.status.date_sold.strftime("%Y-%m-%d") %></span>
        <% else %>
          <span>Posted on: <%= @racquet.status.created_at.strftime("%Y-%m-%d") %></span>
        <% end %>
          <span>Views: <%= @racquet.status.view_count %></span>
        </div>
        <h3>Price: $<%= @racquet.price %></h3>
      </div>
      <div class="body-info">
        <span>Description: <%= @racquet.description %></span>
      </div>
      <div class="stats-info">
        <span>Head size: <%= @racquet.head_size %></span>
        <span>Length: <%= @racquet.length %></span>
        <span>Strung Weight: <%= @racquet.strung_weight %></span>
        <span>Balance: <%= @racquet.balance %></span>
        <span>Stiffness: <%= @racquet.stiffness %></span>
        <span>String Pattern: <%= @racquet.string_pattern %></span>
        <span>Brand: <%= @racquet.brand %></span>
        <span>Type: <%= @racquet.racquet_type %></span>
      </div>
      <div class="buy-button">
        <% if user_signed_in? && @racquet.seller_user_id == current_user.id %>
          <%= link_to 'Edit', edit_racquet_path(@racquet) %>
          <%= link_to 'Delete Listing', @racquet, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% elsif user_signed_in? %>
          <% if @racquet.status.sold == false %>
            <button data-stripe="payment">Buy this racquet <%= number_to_currency(@racquet.price) %></button>
          <% else %>
            <button class="sold-button" type="button" disabled >Buy this racquet <%= number_to_currency(@racquet.price) %></button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="seller-info">
    <div class="seller-title">
      <div class="seller-info-nested">
        <div class="title">
          <span>Posted by <%= @seller_user.user_detail.name %></span>
          <span>Joined: <%= @seller_user.user_detail.created_at.strftime("%Y-%m-%d")%></span>
           <span><%= link_to("View Users Profile", user_detail_path(@seller_user.user_detail.id))%></span>
          <span class="description"><%= @seller_user.user_detail.description %></span>
        </div>
        <%= image_tag(@seller_user.user_detail.picture, class: "user-image") if @seller_user.user_detail.picture.attached? %>
      </div>
    </div>

    <div class="seller-location">
      <div class="googlemaps-api">
            <div id="map"></div>
      </div>
    </div>
  </div>

</div>


<script src="https://js.stripe.com/v3/"></script>
<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>

<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@seller_user.user_detail.location.latitude%>, <%=@seller_user.user_detail.location.longitude%>)
    });
    </script>
<% end %>