<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @racquet.seller_user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @racquet.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @racquet.description %>
</p>

<p>
  <strong>Head size:</strong>
  <%= @racquet.head_size %>
</p>

<p>
  <strong>Length:</strong>
  <%= @racquet.length %>
</p>

<p>
  <strong>Strung weight:</strong>
  <%= @racquet.strung_weight %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @racquet.balance %>
</p>

<p>
  <strong>Stiffness:</strong>
  <%= @racquet.stiffness %>
</p>

<p>
  <strong>String pattern:</strong>
  <%= @racquet.string_pattern %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @racquet.brand %>
</p>

<p>
  <strong>Type:</strong>
  <%= @racquet.racquet_type %>
</p>

<%= link_to 'Edit', edit_racquet_path(@racquet) %> |
<%= link_to 'Back', racquets_path %>
