<nav>
  <div class="left">
  <% if user_signed_in? %>
    <%= link_to("Logout", destroy_user_session_path, method: :delete)%>
  <% else %>
    <%= link_to("Login", new_user_session_path)%>
  <% end %>
  </div>

  <div class="right">
    <% if user_signed_in? && current_user.user_detail != nil %>
      <%= link_to("Inbox", conversations_path) %>

      <% @conversations = Conversation.where("sender_id = ? OR receiver_id = ?", current_user.id, current_user.id) %>
      <% total_messages = [] %>
      <% @conversations.each do |conversation| %>
        <% if !conversation.unread_message_count(current_user).zero? %>
          <% total_messages.push(conversation.unread_message_count(current_user)) %>
        <% end %>
      <% end %>
      <% if total_messages.sum > 0 %>
        <span>(<%= total_messages.sum %>)</span>
      <% end %>

      <%= link_to("Sell", new_racquet_path)%>
      <%= link_to("Favourites", favourites_path) %>
      <%= link_to("My Account", user_detail_path(current_user.user_detail.id)) %>
    <% elsif user_signed_in? %>
      <%= link_to("Inbox", new_user_detail_path) %>
      <%= link_to("Sell", new_user_detail_path)%>
      <span>Favourites</span>
      <%= link_to("My Account", new_user_detail_path) %>
    <% else %>
      <%= link_to("Inbox", new_user_session_path) %>
      <%= link_to("Sell", new_user_session_path) %>
      <%= link_to("Favourites", new_user_session_path) %>
      <%= link_to("My Account", new_user_session_path) %>
    <% end %>
  </div>
</nav>