<%= form_with(model: user_detail, local: true) do |form| %>
  <% if user_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_detail.errors.count, "error") %> prohibited this user_detail from being saved:</h2>

      <ul>
      <% user_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%# this needs to default to the logged in users id! %>
    <%= form.hidden_field(:user_id, :value => current_user.id) %>
  </div>

  <%= form.fields_for :location do |loc_form|%>
  
    <%= loc_form.label :postcode %>
    <%= loc_form.text_field :postcode %>

    <%= loc_form.label :suburb %>
    <%= loc_form.text_field :suburb %>

    <%= loc_form.label :address_line %>
    <%= loc_form.text_field :address_line %>

    <%= loc_form.label :state %>
    <%= loc_form.text_field :state %>

  <% end %>

    <%#= form.label :location_id %>
    <%#= form.text_field :location_id %>
    <%# need access to location table here! do in controller. %>

  <div class="field">
    <%# enum needs to default to 0 for non-admin, invisible field %>
    <%= form.hidden_field(:user_type, :value => "non_admin") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
