<%= form_with(model: user_detail, local: true) do |form| %>
  <% if user_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_detail.errors.count, "error") %> prohibited this user_detail from being saved:</h2>

      <ul>
      <% user_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

    <%# add photos %>
  <div class="field">
    <%= form.label :picture %> <%= form.file_field :picture, accept:
    'image/png,image/gif,image/jpeg,image/jpg' %>
  </div>

    <%# moved to controller! %>
    <%# this needs to default to the logged in users id! %>
    <%#= form.hidden_field(:user_id, :value => current_user.id) %>


  <%= form.fields_for :location do |loc_form|%>
  
    <%= loc_form.label :state %>
    <%= loc_form.text_field :state %>

    <%= loc_form.label :postcode %>
    <%= loc_form.text_field :postcode %>

    <%= loc_form.label :suburb %>
    <%= loc_form.text_field :suburb %>

    <%= loc_form.label :optional_address_line_ %>
    <%= loc_form.text_field :address_line %>

  <% end %>

    <%#= form.label :location_id %>
    <%#= form.text_field :location_id %>
    <%# need access to location table here! do in controller. %>

  <div class="field">
    <%# enum needs to default to 0 for non-admin, invisible field %>
    <%= form.hidden_field(:user_type, :value => "non_admin") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">

  function forceKeyPressUppercase(e)
  {
    var charInput = e.keyCode;
    if((charInput >= 97) && (charInput <= 122)) { // lowercase
      if(!e.ctrlKey && !e.metaKey && !e.altKey) { // no modifier key
        var newChar = charInput - 32;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.substring(0, start) + String.fromCharCode(newChar) + e.target.value.substring(end);
        e.target.setSelectionRange(start+1, start+1);
        e.preventDefault();
      }
    }
  }

  document.getElementById("user_detail_location_attributes_suburb").addEventListener("keypress", forceKeyPressUppercase, false);
  document.getElementById("user_detail_location_attributes_state").addEventListener("keypress", forceKeyPressUppercase, false);
</script>