<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @location.suburb %>
</p>

<p>
  <strong>Address line:</strong>
  <%= @location.address_line %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @location.postcode %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
